      - name: Deploy to EC2 via SSH
        env:
          EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
          EC2_PY_APP_DIR: ${{ secrets.EC2_PY_APP_DIR }}
        run: |
          echo "$EC2_SSH_KEY" > private_key.pem
          chmod 600 private_key.pem

          echo "Connecting to ec2-user@13.201.188.231"

          rsync -avz -e "ssh -i private_key.pem -o StrictHostKeyChecking=no" \
            --exclude=".git" . ec2-user@13.201.188.231:${EC2_PY_APP_DIR}

          ssh -i private_key.pem -o StrictHostKeyChecking=no ec2-user@13.201.188.231 << EOF
            cd ${EC2_PY_APP_DIR}
            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            sudo systemctl restart python-app.service
          EOF

          rm private_key.pem
