name: CI/CD Python Flask to EC2

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Debug env
        run: |
          echo "EC2_USER=${EC2_USER}"
          echo "EC2_HOST=${EC2_HOST}"

      - name: Deploy to EC2 via SSH
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
          EC2_PY_APP_DIR: ${{ secrets.EC2_PY_APP_DIR }}
        run: |
          echo "$EC2_SSH_KEY" > private_key.pem
          chmod 600 private_key.pem

          echo "Connecting to ${EC2_USER}@${EC2_HOST}"
          rsync -avz -e "ssh -i private_key.pem -o StrictHostKeyChecking=no" \
            --exclude=".git" . ${EC2_USER}@${EC2_HOST}:${EC2_PY_APP_DIR}

          ssh -i private_key.pem -o StrictHostKeyChecking=no ${EC2_USER}@${EC2_HOST} << EOF
            cd ${EC2_PY_APP_DIR}
            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            sudo systemctl restart python-app.service
          EOF

          rm private_key.pem
